IO_LOC "clk" 52;
IO_LOC "rst" 4;
IO_LOC "btn[0]" 3;
IO_LOC "test2" 68;
// IO_LOC "test1" 69;
IO_LOC "low"  81  
IO_LOC "Abtn"  69;  
IO_PORT "Abtn" PULL_MODE=UP;

IO_LOC "col[0]" 74;
IO_LOC "col[1]" 34;
IO_LOC "col[2]" 40;
IO_LOC "col[3]" 71;
IO_LOC "col[4]" 41;
IO_LOC "col[5]" 72;
IO_LOC "col[6]" 76;
IO_LOC "col[7]" 77;

IO_LOC "row[0]" 70;
IO_LOC "row[1]" 75;
IO_LOC "row[2]" 51;
IO_LOC "row[3]" 73;
IO_LOC "row[4]" 30;
IO_LOC "row[5]" 42;
IO_LOC "row[6]" 33;
IO_LOC "row[7]" 35;
